.music-therapy {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #2c3e50;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    background-color: #3498db;
    padding: 10px 0;
    border-radius: 5px;
  }
  
  .navbar-item {
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .navbar-item:hover {
    background-color: #2980b9;
    border-radius: 5px;
  }
  
  .audio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .audio-item {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform 0.3s;
  }
  
  .audio-item:hover {
    transform: scale(1.05);
  }
  
  .audio-item h3, .audio-item p {
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .audio-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    color :black;
    background-color:lemonchiffon;
  }
  
  button {
    padding: 8px 15px;
    background-color: #3498db;
    color: rgb(15, 218, 116);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  button:focus {
    outline: none;
  }
  
  body {
    background-color: #0a192f;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .breathing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .graph-container {
    position: relative;
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0px;
  }
  
  .graph {
    width: 200px;
    height: 200px;
    position: absolute;
  }
  
  .ball {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transform: translate(0px, 200px);
  }
  
  .timer-container {
    margin-top: 20px;
    font-size: 18px;
  }
  
  .start-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: #0a192f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .start-button:hover {
    background-color: lightgray;
  }
  